<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PET Management App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
</head>
<body>
 <div style="color:white;background-color:blue;width:100%; height:auto; margin-bottom:15px;">
    <div style="color:white;width:100%; heigh:160px;text-align:center;" >
        <span  style="font-size:17pt">Pet Management App</span>
    </div>
</div>
<div class="container">
   

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form th:object="${insertRecord}" method="POST">
                <div class="form-group">
                   <label for="data">Animal Name</label>
                    <input id="data" type="text" class="form-control" placeholder="Animal name" th:field="*{animalname}" />
                    <label for="data">Adopter Name</label>
                    <input id="data" type="text" class="form-control" placeholder="Name" th:field="*{adoptername}" />
                    <label for="data">Adopter Surname</label>
                    <input id="data" type="text" class="form-control" placeholder="Surname" th:field="*{adoptersurname}" />
                    <label for="data">Phone Number</label>
                  <input id="data" type="text" class="form-control" placeholder="phonenumber" th:field="*{phonenumber}" />
                  </div>
                <button type="submit" class="btn btn-default">Add</button>
            </form>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Adoptions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="record : ${records}">
                        <td th:text="${record.id}">Some text</td>
                        <td th:text="${record.animalname}">Some text</td>
                        <td th:text="${record.adoptername}">Some text</td>
                        <td th:text="${record.adoptersurname}">Some text</td>
                        <td th:text="${record.phonenumber}">Some text</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
